@keyframes dropdown {
  /* Animacion para el despligable de la API */
  0% {
    height: 0;
    opacity: 5%;
  }

  100% {
    height: 550px;
    opacity: 95%;
  }
}

@keyframes ddrandomInfo {
  /* Animacion para el despligable de la API */
  0% {
    height: 0;
    opacity: 5%;
  }
  100% {
    height: 150px;
    opacity: 95%;
  }
}

@keyframes ddphoto1 {
  /* Animacion para el despligable de la API */
  0% {
    width: 0;
    height: 0;
    opacity: 5%;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 95%;
  }
}

@keyframes ddphoto2 {
  /* Animacion para el despligable de la API */
  0% {
    width: 0;
    height: 0;
    opacity: 5%;
  }
  100% {
    width: 230px;
    height: 230px;
    opacity: 95%;
  }
}

@keyframes ddphoto3 {
  /* Animacion para el despligable de la API */
  0% {
    width: 0;
    height: 0;
    opacity: 5%;
  }
  100% {
    width: 210px;
    height: 210px;
    opacity: 95%;
  }
}

@keyframes ddphoto4 {
  /* Animacion para el despligable de la API */
  0% {
    width: 0;
    height: 0;
    opacity: 5%;
  }
  100% {
    width: 190px;
    height: 190px;
    opacity: 95%;
  }
}
@keyframes ddphoto5 {
  /* Animacion para el despligable de la API */
  0% {
    width: 0;
    height: 0;
    opacity: 5%;
  }
  100% {
    width: 170px;
    height: 170px;
    opacity: 95%;
  }
}

* {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  width: 100%;
  height: 250vh;
  background: linear-gradient(to bottom, #abbde8, #4274cc, #1a195c, #000000);
}
h1 {
  text-align: center;
  /* Crear titulo chulo */
  height: 150px;
}

/* ESTILO BOTONES Y CONTENEDORES DE BOTONES */

.icon-animate {
  display: flex;
  justify-content: center;
}

.icon-animate > button {
  border-radius: 35px 0px 35px 0px;

  border: 2px solid #9bcebb;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
}
.icon-animate button > .gif {
  display: none;
  border-radius: 5px;
}
.icon-animate:hover button > .gif {
  display: flex;
}
.icon-animate:hover button > .icon {
  display: none;
}
.icon-animate button > .icon {
  display: flex;
  color: #0c13d0;
}

/* ESTILO CONTENEDOR */

#container {
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "randomPhoto "
    "fullApi "
    "randomData "
    "section";
  grid-template-columns: 90%;
  gap: 50px;
  height: 50vh;
  width: 75%;
}

/* ESTILO DIV FULL API */
/* TIENE ESTILO DADO DESDE JS TAMBIEN */

.box-info {
  padding: 10px;
  border-radius: 35px 0px 35px 0px;
  border: 2px solid #0d0d0e;
  height: 80px;
  transition: all 1.1s; /* Animacion para el despligable de la API */
}

.flex {
  transition: all 1s;
  justify-items: center;
  display: flex;
  margin: auto;
  gap: 10px;
  padding: 10px;

  .wrapper-contenido-info {
    display: none;
    min-height: 0;
    grid-area: fullApi;
    justify-content: center;
    width: 90%;
    transition: all 1s;
    justify-self: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
    animation-delay: 1.1s; /* Animacion para el despligable de la API */
    animation: 1.1s linear dropdown; /* Animacion para el despligable de la API */

    #contenido-info {
      animation: 1.1s linear dropdown; /* Animacion para el despligable de la API */

      transition: all 1s;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;

      h2,
      h3,
      h4,
      p {
        padding: 0 30px 0 30px;
        color: #3f00ff;
      }
    }
  }

  .wrapper-btnArrows {
    margin: inherit;
    justify-content: center;
    width: auto;

    .btnArrows {
      animation: 1.1s linear dropdown;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn-up,
      .btn-down {
        width: 80px;
        height: 65px;
      }
    }
  }
}

/* ESTILO DIV RANDOM API */
/* TIENE ESTILO DADO DESDE JS TAMBIEN */

.wrapper-contenido-random {
  grid-area: randomData;
  line-height: 1;
  border-radius: 35px 0px 35px 0px;
  border: 2px solid #0d0d0e;
  padding: 10px;
  transition: all 1.1s;
}

.border-boton {
  border-radius: 35px 0px 35px 0px;
  border: 2px solid #0d0d0e;
  padding: 10px;
}
#contenido-random {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

  h3,
  p {
    padding: 0 30px 0 30px;
    color: white;
    font-weight: 700;
  }
}

/* ESTILO DIV PHOTO */
/* TIENE ESTILO DADO DESDE JS TAMBIEN */

.wrapper-contenido-photo {
  grid-area: randomPhoto;

  #contenido-photo {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    transition: all 2s;

    .imgClase1 {
      border-radius: 35px 0px 35px 0px;
      animation: 1s linear ddphoto1;
      width: 250px;
      height: 250px;
    }
    .imgClase2 {
      border-radius: 35px 0px 35px 0px;
      animation: 1.2s linear ddphoto2;
      width: 230px;
      height: 230px;
    }
    .imgClase3 {
      border-radius: 35px 0px 35px 0px;
      animation: 1.4s linear ddphoto3;
      width: 210px;
      height: 210px;
    }
    .imgClase4 {
      border-radius: 35px 0px 35px 0px;
      animation: 1.6s linear ddphoto4;
      width: 190px;
      height: 190px;
    }
    .imgClase5 {
      border-radius: 35px 0px 35px 0px;
      animation: 1.8s linear ddphoto5;
      width: 170px;
      height: 170px;
    }
  }
}

/* ESTILO DIV SELECTOR */

#container .wrapper-contenido-section {
  border-radius: 35px 0px 35px 0px;
  border: 2px solid #0d0d0e;
  padding: 40px;
  height: 500px;
  grid-area: section;
  display: grid;
  grid-template-columns: 40% 10% 50%;
  grid-template-areas: "spn select contenido";

  #text-selector {
    grid-area: spn;
    margin: auto;
    text-align: center;
    img {
      width: 350px;
    }
  }
  .wrapper-selector {
    text-align: center;
    margin: auto;
  }
  #selector {
    grid-area: select;

    select {
      padding: 10px;
    }
  }
  #div-selector {
    margin: auto;
    grid-area: contenido;

    width: 400px;
  }
}

/* 
@media screen and (max-height: 1400px) {
  #contenido-photo {
    transition: 0.3s all;

    max-width: 800px;
    flex-direction: column;
    flex-wrap: wrap;
  }
} */
