@keyframes dropdown {
  /* Animacion para el despligable de la API */
  0% {
    height: 0;
    opacity: 5%;
  }

  100% {
    height: 550px;
    opacity: 95%;
  }
}

@keyframes ddrandomInfo {
  /* Animacion para el despligable de la API */
  0% {
    height: 0;
    opacity: 5%;
  }
  100% {
    height: 250px;
    opacity: 95%;
  }
}
@keyframes ddphoto {
  /* Animacion para las imagenes de la API */
  0% {
    width: 0;
    height: 0;
    opacity: 5%;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 95%;
  }
}

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: center;
  color: white;
  h1 {
    font-size: 50px;
    text-align: center;
  }
}

.background {
  margin: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 99%;
  position: absolute;
  z-index: -1;
  opacity: 40%;
  height: 150vh;
}
body {
  margin: 0;
  width: 98%;
  height: 160vh;
  background: linear-gradient(to bottom, #000000, #084e4e);
}

/* ESTILO BOTONES Y CONTENEDORES DE BOTONES */

.icon-animate {
  display: flex;
  justify-content: center;
}

.icon-animate > button {
  border-radius: 35px;
  border: 8px dashed #036469;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  background: #fcffd4;
}
.icon-animate button > .gif {
  display: none;
  border-radius: 5px;
}
.icon-animate:hover button > .gif {
  display: flex;
}
.icon-animate:hover button > .icon {
  display: none;
}
.icon-animate button > .icon {
  display: flex;
}

/* ESTILO CONTENEDOR */

#container {
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "fullApi section "
    "randomData randomPhoto ";
  grid-template-columns: 50% 50%;
  gap: 50px;
  height: 50vh;
  width: 70%;
}

/* ESTILO DIV FULL API */
/* TIENE ESTILO DADO DESDE JS TAMBIEN */

.box-info {
  padding: 10px;
  border-radius: 35px;
  border: 8px dashed #f314b7;
  height: 80px;
  transition: all 1.1s; /* Animacion para el despligable de la API */
}

.flex {
  transition: all 1s;
  justify-items: center;
  display: flex;
  margin: auto;
  gap: 10px;
  padding: 10px;

  .wrapper-contenido-info {
    display: none;
    min-height: 0;
    grid-area: fullApi;
    justify-content: center;
    width: 90%;
    transition: all 1s;
    justify-self: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
    animation-delay: 1.1s; /* Animacion para el despligable de la API */
    animation: 1.1s linear dropdown; /* Animacion para el despligable de la API */

    #contenido-info {
      animation: 1.1s linear dropdown; /* Animacion para el despligable de la API */
      transition: all 1s;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;

      h2 {
        padding: 0 30px 0 30px;
        text-align: center;
        color: #aa5399;
      }
      h3 {
        padding: 0 30px 0 30px;
        color: #20b6b0;
      }
      h4 {
        padding: 0 30px 0 30px;
        color: #6f3f6c;
      }
      p {
        padding: 0 30px 0 30px;
        color: #3f00ff;
      }
    }
  }

  .wrapper-btnArrows {
    margin: inherit;
    justify-content: center;
    width: auto;

    .btnArrows {
      animation: 1.1s linear dropdown;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn-up,
      .btn-down {
        width: 80px;
        height: 65px;
      }
    }
  }
}

/* ESTILO DIV RANDOM API */
/* TIENE ESTILO DADO DESDE JS TAMBIEN */

.wrapper-contenido-random {
  grid-area: randomData;
  line-height: 1.2;
  border-radius: 35px;

  /* border: 8px dashed #ff54d0; */
  padding: 10px;
  transition: all 1.1s;
}

.border-boton {
  border-radius: 35px;
  border: 8px dashed #f314b7;
  padding: 10px;
}
#contenido-random {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;

  h3,
  p {
    text-align: left;
    padding: 0 30px 0 30px;
    color: #d5d8af;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

/* ESTILO DIV PHOTO */
/* TIENE ESTILO DADO DESDE JS TAMBIEN */

.wrapper-contenido-photo {
  grid-area: randomPhoto;

  #contenido-photo {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .imgClase1 {
    border-radius: 10px;
    animation: 1.4s linear ddphoto;
  }
  .imgClase2 {
    border-radius: 10px;
    animation: 1.6s linear ddphoto;
  }
  .imgClase3 {
    border-radius: 10px;
    animation: 1.8s linear ddphoto;
  }
}

/* ESTILO DIV SELECTOR */

#container .wrapper-contenido-section {
  padding: 10px;
  background: #b7c6aa;
  width: 100%;
  border-radius: 10px;
  border: 10px dashed #036469;
  justify-content: center;
  height: 700px;
  grid-area: section;
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "spn select"
    "spn contenido";

  #text-selector {
    margin: auto;
    grid-area: spn;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: #1e1f25;
    width: 100%;

    h2 {
      font-size: 20px;
      padding: 10px;
      text-align: center;
      color: #fcffd4;
      text-shadow: 2px 4px 8px #05a1c5;
    }
    img {
      width: 100%;
    }
  }

  #selector {
    justify-content: flex-start;
    grid-area: select;
    select {
      text-align: center;
      width: 100%;
      padding: 10px;
    }
  }
  #div-selector {
    padding-left: 15px;
    grid-area: contenido;
    width: 95%;
  }
}

/* 
@media screen and (max-height: 1400px) {
  #contenido-photo {
    transition: 0.3s all;

    max-width: 800px;
    flex-direction: column;
    flex-wrap: wrap;
  }
} */
